body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  div {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #resultado {
    text-align: center;
    margin-top: 20px;
  }
  
  #nota-final {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
  }
  